<div class="goods-item">
    <div class="goods-item-heading-wrap">
        <h3 class="goods-item-heading">{{ good.name }}</h3>
    </div>
    <img src="../templates/img/small/{{ good.filename }}" width="250" height="156" alt="{{ good.name }}" class="item-image">
    <p class="goods-item-text">Цена: {{ good.cost }} руб.</p>
    <a href="index.php?path=item/{{ good.id }}" class="button">Подробнее</a>
</div>