<tr>
    <td class="table-cell table-cell-text">{{ item.name }}</td>
    <td class="table-cell table-cell-text">{{ item.count }}</td>
    <td class="table-cell table-cell-text">{{ item.cost }} руб.</td>
    <td class="table-cell table-cell-text">{{ item.totao_item_cost }} руб.</td>
    <td class="table-cell table-cell-text">0 %</td>
    <td class="table-cell table-cell-text">{{ item.total_item_cost }} руб.</td>
</tr>
